AddDefaultCharset UTF-8
DirectoryIndex index.html
RedirectMatch "/(.*)\.php" /$1.html
# 480 weeks
<filesMatch "\.(ico|pdf|jpg|jpeg|png|gif)$">
Header set Cache-Control "max-age=290304000, public"
</filesMatch>
# 2 HOURS
<filesMatch "\.(html|htm|css|js)$">
Header set Cache-Control "max-age=72000, must-revalidate"
</filesMatch>
<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript
SetEnvIfNoCase Request_URI .(?:exe|t?gz|zip|iso|tar|bz2|sit|rar|png|jpg|gif|jpeg|flv|swf)$ no-gzip dont-vary
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.[0678] no-gzip
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
Header append Vary User-Agent env=!dont-vary
</IfModule>
