/************************************
*************  GENERIC  *************
*************************************/


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	border:0 none;
	font-family:inherit;
	font-size:100%;
	font-style:inherit;
	font-weight:inherit;
	margin:0;
	outline:0 none;
	padding:0;
}

html {
    height: 100%;
    background: url("../img/grad2l.png") repeat scroll left top transparent;
}

body {
	font-family: "Arial", "Helvetica", "Verdana", "Sans-Serif", Arial, Helvetica, Verdana, Sans-Serif;
	height: 100%;
}

.noborder {
	border:0 none !important;
}

h1 {
	font-size:1.6em;
	color:#56A0D3;
}

h2 {
	font-size:1.5em;
	color:#56A0D3;
}

h3 {
	font-size:1.2em;
	color:#56A0D3;
}

a {
	color:#56A0D3;
	text-decoration:none;
}

a:hover {
	color:#99CD00;
	text-decoration:none;
}

small {
	font-size:0.6em;
}

h1 small {
	padding-left:12px;
}

div.indent {
	padding-left:22px;
}

*:focus {
    outline: none;
}

details, summary { 
    display: block; 
    margin-bottom: 10px;
}

details p {
    text-align:justify;
    text-indent:50px;
} 

summary:hover {
    background: #ccc;
}

.no-details details > * {
    display: none; 
}

.no-details details summary { 
    display: block; 
}

summary { 
    cursor: pointer; 
}

#bigHome {
	color:#FFFFFF;
	text-decoration:none;
}

#bigHome:hover {
	color:#56A0D3;
	text-decoration:none;
}

#stripe1 {
	background:url("../img/grad1c.png") repeat-x scroll left center #111111;
	width:100%;
}

#wrap {
    min-height: 100%;
}

#copyright {
    padding-top:8px;
}

#str1 {
	background:url("../img/str1d_bg.png") no-repeat scroll center center transparent;
}

#str1 .innerdiv {
	margin-left:auto;
	margin-right:auto;
	width:1033px;
	font-size:16px;
}

#stripe2 {
	width:100%;
	padding-bottom:60px;
	/*height: 100%;*/
	overflow: auto;
}

#str2 .innerdiv {
	margin-left:auto;
	margin-right:auto;
	max-width:1033px;
	background-color: white;
	box-shadow: 0px 0px 20px 5px black;
	padding-bottom:20px;
	border-radius: 0px 0px 15px 15px;
	-moz-border-radius: 0px 0px 15px 15px;
	-webkit-border-radius: 0px 0px 15px 15px;
	min-height:400px;
}

#top-border {
	border-top: 6px solid #EEF1F6;
	width: 100%;
}

#labHeader {
	font-size:38px;
	color: #CCC;
	padding-top:10px;
	padding-bottom:5px;
	float:right;
}

.pageHeader {
    margin-left:40px;
    background-color:#EEF1F6;
    border-radius:0px 0px 10px 10px;
    -moz-border-radius:0px 0px 10px 10px;
    -webkit-border-radius:0px 0px 10px 10px;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
}

#lccc-logo-container {
    float:left;
    margin-top:15px;
    overflow:auto;
}

#lccc-logo{
    padding:0px 0px; 
    height:42px;
    /*width:180px;*/
    display:block;
}

#footer {
    background:url("../img/grad1c.png") repeat-x scroll left top;
    width:100%;
    height: 40px;
    margin-top: -40px;
    clear:both;
    position:relative;
    text-align: center;
    color: #DDD;
    font-size: 10px;
}


/************************************
***********  SPLASH PAGE  ***********
*************************************/

#splash-left {
    height:500px;
    width:344px;
    float:left;
    overflow:hidden;
}

#splash-center {
    height:500px;
    width:344px;
    float:left;
    overflow:hidden;
    background:url("../img/cells.png") repeat-x scroll left top;
}

#splash-right {
    height:500px;
    width:345px;
    float:right;
    overflow:hidden;
}

#PPI_canvas {
    height:100%;
    width:100%;
}

#cells_video {
    height:500px;
    width:345px;
}

/************************************
***********  PUBLICATIONS  **********
*************************************/

.publications {
    font-family: Arial, Helvetica, Verdana, Sans-Serif;
    font-size:12px;
    text-align:justify;
}
.publications li {
    list-style-type: none;
    margin-top: 15px;
}
.publications b {
    font-size:1.1em;
}
.title {
    font-weight:bold;
}

.authors {

}

/*.article {
    text-decoration:none
}

.article:hover {
    color: #56a0d3;
}*/

.journal {
    font-style:italic;
    font-weight:bold;
}

.divider {
    margin-top:15px;
    background-color: #99cd00;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    font-size: 22px;
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
}

.divider-blue {
    margin-top:15px;
    margin-bottom:15px;
    border-radius:7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    font-size: 32px;
    text-align:center;
    padding-top:2px;
    padding-bottom:2px;
    background-color: #EEF1F6;
    border: 2px solid #CCC;
    color: #56A0D3;
}


/************************************
*************  PEOPLE  **************
*************************************/

.personCell {
    width: 200px;
    border: 3px solid #CCC;
    padding: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    background: #EEF1F6;
    height: 360px;
    margin-bottom:15px;
    text-align:center;;
}

.personCell img {
    margin-bottom: 5px;
    margin-top: 5px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0 0 0 2px #999;
}

.personCell a {
    font-size: 14px;
}

.personCell .desc {
    margin-top:5px;
    font-size: 12px;
}

.personImg {
    width: 200px;
    height: 250px;
}

#sliderContainer {
    margin: 10px;
}


/************************************
*************  RESEARCH  ************
*************************************/

.paragraph {
    text-indent:50px;
    text-align:justify;
}

.no-bullet ul li{
    background:none !important;
}

.ul-images li {
    padding:0px 70px !important;
}

.small {
    font-size:18px;
}

#clinical {
    list-style: none;
    color: #56A0D3;
    margin-left: 2px;;
}

#clinical li {
    display:inline;
}

#clinical li span {
    color: #000;
}

div.content {
    margin-left:40px;
    margin-right:40px;
    padding-top:10px;
}


#header {
    clear:both;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width:98%;
}

.ul-div {
    float:left;
    position:relative;
    overflow:hidden;
    width:100%;
    font-size:11px;
}

.ul-div ul {
    clear:left;
    float:left;
    margin:0px;
    padding:0px;
    left:50%;
    text-align:center;
    position:relative;
}

.ul-div ul li {
    list-style:disc inside none;
    display:block;
    float:left;
    margin:0px;
    padding: 5px 4px 5px 10px;
    position:relative;
    right:50%;
    background: url("../img/menu.png") no-repeat center left;
}

.ul-div ul li span {
    display:block;
    color:#000;
    font-size:14px;
}

.ul-div ul li a{
    display:block;
    color:#FFF;
    font-weight:500;
    letter-spacing:.2em;
    padding:7px 7px 7px 0px;
    text-decoration:none;
    text-transform:uppercase;
}

@-moz-document url-prefix() {
    .ul-div ul li a {
	letter-spacing:.15em !important;
    }
}

.ul-div ul li a:hover {
    color: #56A0D3;
}



table.people td{
    width:25%;
    padding-right: 5px;
    padding-left: 5px;
    word-wrap: break-word;
}

tr.email{
    font-size: 0.9em;
}

tr.description {
    font-size: 0.9em;
}

#left{
    float:left;
    width:600px;
}
#right {
    padding-top:10px;
    margin-right: 8px;
    float:right;
    width:310px;
}
/************************************
************* CALENDAR **************
************************************/

#cal {
     height:666px;
     width:500px;
     float:left;
}

#cal_desc {
     float:right;
}


/************************************
**************  CONTACT  ************
*************************************/

#map_canvas {
    height: 260px;
    width: 670px;
    float: right;
    border: 5px solid #CCC;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;

}

#contact {
    float:left;
}

#contact p{
    font-size:.9em;
}

/************************************
************ REAGENTS ***************
************************************/

form label {
    display: block;
    margin-top: 1px;
    margin-bottom: 1px;
    font-size:14px;
}

.ss-q-short {
    width: 100%;
    height: 18px;
    border: 1px solid #CCC;
}

.ss-q-long {
    width: 100%;
    height: 53px;
    margin-top: 1px;
    margin-bottom: 2px;
    border: 1px solid #CCC;
}

.docs-missing {
    color: red;
    font-weight: bold;
}

#docs-left {
    float: left;
    width: 33%;
}

#docs-right {
    float: right;
    width: 63%;
}

.ss-required-asterisk {
    color: red;
}

#recaptcha_area
{
    margin-top: 15px;
}
/************************************
************  EQUIPMENT  ************
*************************************/

.equipment-container {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #CCC;
    background: #EEF1F6;
    margin-bottom: 15px;
    padding: 10px;
}

.equipment-img img {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.equipment-desc {
    width:50%;
}

.img-left {
    float:left;
}

.img-right {
    float:right;
}

.desc-right {
    float:right;
}

.desc-left {
    float:left;
}

/************************************
************* SOFTWARE **************
*************************************/

.software-container {
    background-color: #EEF1F6;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border: 2px solid #CCC;
    height: 200px;
    width: 100%;
}

.software-img {
    float:left;
}

.software-desc {
    float:right;
    margin: 20px;
    width: 50%;
    font-size: 14px;
    text-align: justify;
}

.software-title {
    font-weight: bold;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-bottom: 2px solid #56A0D3;
}

.spotlite {
    background-color: #444;
    border: 0px;
    color: white;
}

/*****************************
************ NEWS ************
******************************/

.date {
    font-style: italic;
    width: 150px;
}

.news-table td{
    padding:5px 0px;
    font-size: 14px;
    text-align:justify;
}
